* {
    margin: 0;
    padding: 0;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
}

.container {
    width: 600px;
    height: 600px;

}

.square {
    width: 12.5%;
    height: 12.5%;
}

.promote-square {
    width: 50%;
    height: 50%;
}

.square-black {
    background: #41bf39;
}

.square-white {
    background: #e7f7e6;
}

.board-square {
    width: 100%;
    height: 100%;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
}

.cursor-pointer {
    cursor: pointer;
}